<%for(let i of posts){%>
    <li id="post-<%=i.id%>">
       
            <h2>
                <!-- chicking user authorize to delete post or not -->
                <%if(locals.user && i.user.id==locals.user._id){%>   
                    <a class="delete-post-btn" href="/post/delete/<%=i.id%>">X</a>
                <%}%>
                <!-- showing post -->
                <%=i.containt%><br>
                <!-- showing user of post or who created this post -->
                <small>
                    <%=i.user.name%>
                </small>
            </h2>
        

        <!-- Comments -->
        <div class="Comment-container">
            <!-- first check user is sign in to create comment -->
            <%if(locals.user){%>
               <div class="comment-form">
                    <form action="/comment/create" id="createComment" method="post">
                        <input type="text" name="containt" placeholder="Comment here.."required>
                        <input type="hidden" name="postId" value="<%=i.id%>"><br>
                        <input type="submit" value="Comment">
                    </form>
               </div>
            <%}%>
            <!-- display all comments -->
            <div class="comment-display">
                <ul id="comment-list-container">
                    <%for(let comment of i.comments){%>
                        <li id="comment-<%=comment._id%>">
                            <p>
                                <!-- deleting comment only user of comment and sign in user is same -->
                                <%if(locals.user && comment.user.id==locals.user.id){%>
                                    <a class="delete-comment-btn" href="/comment/delete/<%=comment.id%>">X</a>
                                <%}%>
                                <b>
                                    <%=comment.containt%><br>
                                </b>
                                <small>
                                    <%=comment.user.name%>
                                </small>
                            </p>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </li>
<%}%>

