<section>
    <h1>Profile</h1>
    <div id="user-container">
        <img src="<%=profile_user.avatar%>" alt="profile img" width="100" height="100">
        <%if(locals.user.id==profile_user.id){%>
            
            <!-- update users info if sign in user and click user is same -->
            <form action="/user/update/<%=profile_user.id%>" id="update-user-profile" enctype="multipart/form-data" method="post">
                <label for="">Name: </label>
                <input type="text" name="name" value="<%=profile_user.name%>" required><br>
                <label for="">Email: </label>
                <input type="email" name="email" value="<%=profile_user.email%>" required><br>
                <input type="file" name="avatar" placeholder="upload your avatar">
                <input type="hidden" name="id" value="<%=profile_user.id%>" required><br>&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Update">
            </form>
        <%}else{%>
            <p><%=profile_user.name%></p>
            <p><%=profile_user.email%></p>
        <%}%>
    </div>
</section>
<!-- update user profile with AJAX -->
<script src="/js/AJAX_update_user_profile.js"></script>